nav {
  @include span-columns(12);
  background-color: $orange-peel;
  text-align: right;
  margin-bottom: em(30);
  font-weight: 700;
  // border-style:solid;
  // border-color: #000000;
  // ul {
  //   // display: inline-block;
  //   // margin-bottom: em(10);
  // }

  li {
    display: inline-block;
    padding: 25px;
    // vertical-align: middle;
  }

  a {
    color: $white;

    &:hover {
     color: $white;
     border-top: 1px dashed #C13100;
    }
  }

  span {
    // vertical-align: middle;
  }
}

#nav-logo {
  float: left;
  padding: 25px;
}

.blog-title {
  font-size: 1.4em;
  letterspacing: 4px;
  text-transform: uppercase;

  &:hover {
     border-top: none;
    }
}

.about-title {
  // text-align: right
}

.project-title {
  // text-align: right
}
