<footer>
  <ul>
    <li>
      <a href="https://github.com/NCCastillo">
        <!-- github -->
        <span class="socialpictogram">&#62209;</span>
      </a>|
    </li>
    <li>
      <a href="https://twitter.com/ncarloscastillo">
        <!-- twitter -->
        <span class="socialpictogram">&#62218;</span>
      </a>|
    </li>
    <li>
      <!-- linkedin -->
      <a href="http://www.linkedin.com/pub/nestor-castillo/22/355/bb">
        <span class="socialpictogram">&#62233;</span>
      </a>
    </li>
  </ul>
</footer>
