<nav class="main-nav">
  <div id="nav-image">
    <% link_to "/index.html"do %>
      <%= image_tag('ncc.jpeg') %>
    <% end %>
  </div>
  <ul class="nav-title">
    <li><%= link_to "Nestor Castillo", "/index.html"%></li>
  </ul>

  <div class="nav-right">
    <ul>
      <li><%= link_to "Home", "/index.html"%></li>
      <li><%= link_to "Blog", "/blog/index.html"%></li>
    </ul>
  </div>
</nav>
